@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
body{
    font-family: 'Nanum Gothic', sans-serif;
}


.calc-container{
    border: 2px solid black;
    padding: 0;
    border-radius: 10px;
}

.calc-btn{
    padding: 1.2rem;
    margin: 0.2rem;
}

.big-calc-btn{
    padding: 1.2rem;
    margin: 0.2rem;
    width: 64%;
}

.result{
    margin: 0;
    padding: 1rem 0;
    border: 2px solid black;
    border-radius: 10px;
}

.num-container{

    display: inline-block;
}

.operator-container{

    display: inline-block;
}
