@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
body{
    font-family: 'Nanum Gothic', sans-serif;
}


.calc-container{
    border: 2px solid black;
    padding: 0;
    border-radius: 10px;
}

.calc-btn{
    padding: 1.2rem;
    margin: 0.2rem;
}

.oprator-btn{
    padding:1.2rem .78rem 1.2rem .78rem;
    margin:0.2rem;
}

.oprator-btn-func{
    padding:1.2rem .4rem 1.2rem .4rem;
    margin:0.2rem;
}

.result{
    margin: 0;
    padding: 1rem 0;
    border: 2px solid black;
    border-radius: 10px;
}

.num-container{

    display: inline-block;
}

.operator-container{

    display: inline-block;
}

.alert-contianer{
   display: inline-block;
}
